<!-- _family_data_list.html.erb
Rev. 12/17/2013 to use data: { confirm: 'Text' } in destroy statement, per RAILS 4.0 warning
-->
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Gender</th>
    <th>Birth date and place</th>
    <th>Parents</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Record Id</th>
    <th>Updated/Created</th>
  </tr>

<% for family_datum in @family_data %>
  <tr>
    <td><%= link_to family_datum.name, family_datum %></td>
    <td>[<%=h family_datum.membid %>]</td>
    <td><%=h family_datum.gender %></td>
    <td><%=h family_datum.birth_date %><br />
        <%=h family_datum.birth_place %></td>
    <td><%=h family_datum.father %><br />
        <%=h family_datum.mother %></td>
    <td>[<%=h family_datum.fatherid %>]<br />
        [<%=h family_datum.motherid %>]</td>
    <td> &nbsp; </td>
    <% delete_msg = "Are you sure you want to delete record #{ family_datum.id } for #{ family_datum.name }?" %>
    <td> &nbsp; 
        <%= link_to 'Edit', edit_family_datum_path(family_datum) %><br />
        <%= link_to 'Destroy', family_datum, data: { confirm: delete_msg }, :method => :delete %></td>
    <td> &nbsp; </td>
    <td><small><%=h family_datum.id %><br /><%=h family_datum.hash5 %></small></td>
    <td><small><%=h family_datum.updated_at %><br />
        <%=h family_datum.created_at %></small></td>
  </tr>
<% end %>
</table>

