<!-- <%= controller.controller_name %> -->
<!-- _nav_line written 06/27/2012 A.D. Roth for pagination in method passed as nav_line-->
<!-- uses @offset, @max_rows, and @table_count -->
<!-- must be run under same controller for the links-->
<% if @max_rows < @table_count %>
  <% end_point = [ @offset + @max_rows, @table_count ].min %>
  <% prev_start = [ @offset + 1 - @max_rows, 1 ].max %>
<p class="Navigation">From <%=h @offset + 1 %> to <%=h end_point %> of <%=h @table_count %>  &nbsp; &nbsp; 
   <% if @offset > @max_rows / 2 %>
     <%= link_to '|<< To First (1)', { 
      :controller => controller.controller_name, 
      :action => nav_line, 
      :curr_offset => @offset,
      :next_offset => 'First' 
     } %> &nbsp; &nbsp; 
     <%= link_to "<< Prev Page (#{ prev_start }-#{ @offset })", { 
      :controller => controller.controller_name, 
      :action => nav_line, 
      :curr_offset => @offset,
      :next_offset => 'Prev' 
     } %> &nbsp; &nbsp;
   <% end %>
   <% unless @table_count - @offset < @max_rows / 2 %>
     <%= link_to "Next Page ( #{ [ end_point + 1, @table_count ].min }-#{ [ end_point + @max_rows, @table_count ].min }) >>", { 
      :controller => controller.controller_name, 
      :action => nav_line, 
      :curr_offset => @offset,
      :next_offset => 'Next' 
     } %> &nbsp; &nbsp; 
     <%= link_to "Last (#{ @table_count }) >>|", { 
      :controller => controller.controller_name, 
      :action => nav_line, 
      :curr_offset => @offset,
      :next_offset => 'Last' 
     } %>
   <% end %>
</p>
<% end %>
