<%= form_for(@family_affinity) do |f| %>
  <% if @family_affinity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family_affinity.errors.count, "error") %> prohibited this family_affinity from being saved:</h2>

      <ul>
      <% @family_affinity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :membid %><br>
    <%= f.text_field :membid %>
  </div>
  <div class="field">
    <%= f.label :relationship %><br>
    <%= f.text_field :relationship %>
  </div>
  <div class="field">
    <%= f.label :other_type_value %><br>
    <%= f.text_field :other_type_value %>
  </div>
  <div class="field">
    <%= f.label :connection_name %><br>
    <%= f.text_field :connection_name %>
  </div>
  <div class="field">
    <%= f.label :connection_membid %><br>
    <%= f.text_field :connection_membid %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.text_field :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br>
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
