<h1>New family_start_point</h1>

<% form_for(@family_start_point) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :family_descrip %><br />
    <%= f.text_field :family_descrip, :tabindex => 2 %>
  </p>
  <p>
    <%= f.label :membid %><br />
    <%= f.text_field :membid, :tabindex => 2 %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :tabindex => 3 %>
  </p>
  <p>
    <%= f.submit "Create", :tabindex => 4 %>
  </p>
<% end %>

<%= link_to 'Back', family_start_points_path %>
