<p>
  <b>Family descrip:</b>
  <%=h @family_start_point.family_descrip %>
</p>

<p>
  <b>Membid:</b>
  <%=h @family_start_point.membid %>
</p>

<p>
  <b>Comment:</b>
  <%=h @family_start_point.comment %>
</p>


<%= link_to 'Edit', edit_family_start_point_path(@family_start_point) %> |
<%= link_to 'Back', family_start_points_path %>
